body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 3em;
    margin: 20px auto;
    font-weight: bold;

    border: 3px solid black;
    border-radius: 50%;

    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.buttons button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 0.3s;
    border: solid white;
}

.buttons button:first-child {
    background-color: lime;
}
.buttons button:nth-child(2) {
    background-color: red;
}
.buttons button:last-child {
    background-color: white;
    border: solid black;
    color: black;
}
